.register-form-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 40px;
}
.btn-facebook {
  background: #405D9D;
  border: none;
}

.nodecoration {
  text-decoration: none;
}