.register-title {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.register-form-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.register-form {
  width: 600px;
}

.register-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-facebook {
  background: #405D9D;
  border: none;
}

.nodecoration {
  text-decoration: none;
  color: rgb(126, 77, 59);
  font-weight: bold;
}

.nodecoration:hover {
  text-decoration: none;
  color: rgb(211, 129, 100);
  font-weight: bold;
}