.yourlist-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.yourlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
}

.click-row {
  cursor: pointer;
}

.createnewlist-btn {
  width: 250px;
}

.yourlist-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-name{
  font-weight: bold;
}

.table-icon{
  width: 50px;
  text-align: center;
}

.table-date-created {
  width: 110px;
  text-align: center;
}

.table-date-closing {
  width: 110px;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .table-date-created {
    display:none;
  }
  .btnCreateNewList {
    width:100%;
    align-self: center;
  }
}

@media screen and (max-width: 370px) {
  .table-date-created {
    display:none;
  }

  .table-date-closing {
    display:none;
  }
}