.gfc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  background-color: #daccb6;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.gfc-acard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  
}

.gfc-acard-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width:100%;
  height: 60px;
  background-color: rgb(211, 188, 137);
}

.gfc-acard-mid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100px;
  margin-top: 2px;
  
}

.gfc-acard-bot {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  margin-top: 2px;
  background-color: #EBE2D3;
}

.gfc-name-parent{
  width: 100%;
  /* background-color: rgb(255, 200, 180); */
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:1px;
  
  font-weight: bold;
  overflow: hidden;
  padding: 0 5px;
  font-size: 1em;
}

.gfc-price-parent{
  min-width: 100px;
  border: 1px solid rgb(197, 175, 129);
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:1px;
  background-color: rgb(209, 190, 150);
  overflow: hidden;
  font-weight: bold;
  font-size: 0.8em;
}

.gfc-purchased-parent{
  min-width: 80px;
  /* background-color: rgb(180, 185, 255); */
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:1px;
  background-color: #f0d19c;
  overflow: hidden;
  font-weight: bold;
  font-size: 0.75em;
}

.gfc-icon-parent{
  /* background-color: rgb(180, 255, 211); */
  min-width: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px;
  background-color: #fcfcfcb6;
}

.gfc-desc-parent {
  height: 100%;
  width:100%;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin:1px;
  background-color: rgb(252, 237, 207);
  padding: 5px 5px 0px 5px;
  font-size: 0.8em;
}

.gfc-icon {
  max-width: 100px;
  height: 100%;
  max-height: 100px;
  mix-blend-mode: multiply;
}

.wrap-catprice{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
}

.btn-acard-chipin {
  width: 100px;
  border: 0;
  font-size: 0.8em;
  border-radius: 10px;
  color: #fff;
  margin-left: 5px;
}

.btn-acard-chipin-o {
  width: 100px;
  border: 0;
  font-size: 0.8em;
  border-radius: 10px;
  color: #fff;
  margin-left: 5px;
  background-color: rgb(197, 173, 107);
}


.btn-acard-buy {
  width: 100px;
  border: 0;
  font-size: 0.8em;
  border-radius: 10px;
  background-color: rgb(80, 177, 101);
  color: #fff;
  margin-left: 5px;
}

.btn-acard-buy:hover {
  background-color: rgb(69, 148, 86);
  border-color: rgb(92, 206, 117);
}

.btn-acard-buy:active {
  background-color: rgb(80, 177, 101);
  border-color: rgb(69, 148, 86);
  box-shadow: 0 0 0 .2rem rgba(31, 252, 23, 0.5)
}

.btn-acard-buy:visited {
  background-color: rgb(69, 148, 86);
  border-color: rgb(92, 206, 117);
  box-shadow: 0 0 0 .2rem rgba(31, 252, 23, 0.5)
}

.btn-acard-buy:focus, .btn-acard-buy:active:focus {
  background-color: rgb(69, 148, 86);
  border-color: rgb(92, 206, 117);
  box-shadow: 0 0 0 .2rem rgba(31, 252, 23, 0.5)
}

.btn-acard-del {
  width: 100px;
  border: 0;
  font-size: 0.8em;
  border-radius: 10px;
  background-color: rgb(177, 80, 80);
  color: #fff;
  margin-left: 5px;
}

.btn-acard-del:hover {
  background-color: rgb(243, 109, 109);
  border-color: rgb(177, 80, 80);
}

.btn-acard-del:active {
  background-color: rgb(177, 80, 80);
  border-color: rgb(243, 109, 109);
  box-shadow: 0 0 0 .2rem rgba(252, 23, 23, 0.5)
}

.btn-acard-del:visited {
  background-color: rgb(133, 93, 44);
  border-color: rgb(165, 112, 51);
  box-shadow: 0 0 0 .2rem rgba(252, 145, 23, 0.5)
}

.btn-acard-del:focus, .btn-acard-del:active:focus {
  background-color: rgb(177, 80, 80);
  border-color: rgb(243, 109, 109);
  box-shadow: 0 0 0 .2rem rgba(252, 23, 23, 0.5)
}

@media screen and (max-width: 800px) {
  .gfc-acard {
    width: 100%;
  }
  .gfc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

  }  
  .gfc-acard-top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width:100%;
    height: auto;
    font-size: 0.8em;
  }
  .gfc-name-parent{
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .wrap-catprice{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
    padding-left: 5px;
    padding-right: 5px;
  }
  .gfc-desc-parent{
    font-size: 0.8em;
  }
}

@media screen and (max-width: 420px) {
  .info {
    font-size: 0.8em;
    padding-left: 5px;
    padding-right: 5px;
  }
  .closing-date-text {
    font-size: 0.8em;
    padding-left: 5px;
   
  }
  .closing-date-value {
    font-size: 0.8em;
    padding-right: 5px;
  }
  .btn-acard-buy {
    font-size: 0.7em;
    width: 75px;
  }
  .btn-acard-chipin {
    font-size: 0.7em;
    width: 75px;
  }
  .btn-acard-link {
    font-size: 0.7em;
    width: 75px;
  }
  .btn-acard-info {
    font-size: 0.7em;
    width: 75px;
  }
  .btn-acard-del {
    font-size: 0.7em;
    width: 75px;
  }
}

@media screen and (max-width: 320px) {
  .info {
    font-size: 0.7em;
  }
  .closing-date-text {
    font-size: 0.7em;
    padding-left: 5px;
   
  }
  .closing-date-value {
    font-size: 0.7em;
    padding-right: 5px;
  }
  .btn-acard-buy {
    font-size: 0.6em;
    width: 65px;
  }
  .btn-acard-chipin {
    font-size: 0.6em;
    width: 60px;
  }
  .btn-acard-link {
    font-size: 0.6em;
    width: 65px;
  }
  .btn-acard-info {
    font-size: 0.6em;
    width: 65px;
  }
  .btn-acard-del {
    font-size: 0.6em;
    width: 65px;
  }
}