.login-title {
  display:flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.login-form-parent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.login-form {
  width: 600px;
}

.nodecoration {
  text-decoration: none;
}