.new-list-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  min-width: 100%;
}

.new-list-form-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.new-list-form-title {
  display: flex;
  min-height: 50px;
  min-width: 50px;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-weight: bold;
  margin-left: 20px;
}

.new-list-form-icon {
  display: flex;
  height: 60px;
  width: 60px;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  background-color: rgb(182, 135, 77);
  border-color: rgb(165, 112, 51);
  color: #fff;
}

.new-list-form {
  margin-top: 20px;
  max-width: 415px;
  width: 100%;
}

.form-datepicker {
  background-color: #fff;
  width:100%;
}

.btnCreateList {
  align-self: flex-start;
  background-color: rgb(129, 113, 94);
  border-color: rgb(167, 146, 122);
}

.btnCreateList:hover {
  background-color: rgb(133, 93, 44);
  border-color: rgb(165, 112, 51);
}

.btnCreateList:active {
  background-color: rgb(133, 93, 44);
  border-color: rgb(165, 112, 51);
  box-shadow: 0 0 0 .2rem rgba(252, 145, 23, 0.5)
}

.btnCreateList:visited {
  background-color: rgb(133, 93, 44);
  border-color: rgb(165, 112, 51);
  box-shadow: 0 0 0 .2rem rgba(252, 145, 23, 0.5)
}

.btnCreateList:focus, .btnCreateList:active:focus {
  background-color: rgb(133, 93, 44);
  border-color: rgb(165, 112, 51);
  box-shadow: 0 0 0 .2rem rgba(252, 145, 23, 0.5)
}

@media screen and (max-width: 420px) {
  .new-list-form-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 20px;
  }
  .new-list-form-icon {
    height: 50px;
    width: 50px;
    font-size: 2em;
  }
}

@media screen and (max-width: 380px) {
  .new-list-form-title {
    font-size: 1.3em;
    font-weight: bold;
    margin-left: 20px;
  }
  .new-list-form-icon {
    height: 50px;
    width: 50px;
    font-size: 2em;
  }
}

@media screen and (max-width: 370px) {
  .new-list-form-title {
    font-size: 1em;
    font-weight: bold;
    margin-left: 20px;
  }
  .new-list-form-icon {
    height: 30px;
    width: 30px;
    font-size: 1em;
  }
}