.text-icon {
  justify-content: center;
  width: 42px;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.fixFooter {
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.btnCoffee {
  align-self: flex-start;
  background-color: rgb(129, 113, 94);
  border-color: rgb(167, 146, 122);
}

.btnCoffee:hover {
  background-color: rgb(133, 93, 44);
  border-color: rgb(165, 112, 51);
}

.btnCoffee:active {
  background-color: rgb(133, 93, 44);
  border-color: rgb(165, 112, 51);
  box-shadow: 0 0 0 .2rem rgba(252, 145, 23, 0.5)
}

.btnCoffee:visited {
  background-color: rgb(133, 93, 44);
  border-color: rgb(165, 112, 51);
  box-shadow: 0 0 0 .2rem rgba(252, 145, 23, 0.5)
}

.btnCoffee:focus, .btnCoffee:active:focus {
  background-color: rgb(133, 93, 44);
  border-color: rgb(165, 112, 51);
  box-shadow: 0 0 0 .2rem rgba(252, 145, 23, 0.5)
}

